@use './common/config.scss' as *;
@use './common/var.scss' as *;
@use './common/common.scss' as *;
@use './mixins/mixin.scss' as *;
.#{$namespace}-card-button {
	position: relative;
	justify-content: center;
	align-items: center;
	outline: none;
	border: none;
	user-select: none;
	padding: 10px;
	width: 120px;
	height: auto;
	// height: 150px;
	border-radius: var(--button-border-radius);
	cursor: pointer;
	font-family: inherit;
	background: var(--system-theme-color);
	white-space: nowrap;
	line-height: 1;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-webkit-user-select: none;
	-ms-user-select: none;
	z-index: 0;
	// background-color: var(--color-primary);
	div {
		pointer-events: none;
		display: flex;
		justify-content: center;
	}
	&-color {
		&-default {
			color: var(--color-default);
			i {
				color: var(--color-default);
			}
		}
		&-primary {
			.label,
			.icon {
				color: var(--color-primary);
			}
		}
		&-info {
			.label,
			.icon {
				color: var(--color-info);
			}
		}
		&-success {
			.label,
			.icon {
				color: var(--color-success);
			}
		}
		&-warning {
			.label,
			.icon {
				color: var(--color-warning);
			}
		}
		&-danger {
			.label,
			.icon {
				color: var(--color-danger);
			}
		}
	}
	&-bg {
		.label,
		.icon,
		.descr {
			color: var(--color-white) !important;
		}
		&-default {
			background-color: var(--color-default);
		}
		&-primary {
			background-color: var(--color-primary);
		}
		&-info {
			background-color: var(--color-info);
		}
		&-success {
			background-color: var(--color-success);
		}
		&-warning {
			background-color: var(--color-warning);
		}
		&-danger {
			background-color: var(--color-danger);
		}
	}
	&-icon {
		i {
			font-size: 42px;
		}
	}
	&-text {
		font-size: 16px;
		padding: 12px 0px;
		&-bold {
			font-weight: bold;
		}
	}
	&-descr {
		font-size: 12px;
		width: 100%;
		line-height: 1.3;
		white-space: normal;
		overflow: hidden;
		color: var(--color-default);
	}
}
