@use './common/config.scss' as *;
@use './common/var.scss' as *;
@use './common/common.scss' as *;
@use './mixins/mixin.scss' as *;
.#{$namespace}-drawer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    color: #ffffff;
    font-size: 16px;
}