/**
@use和@import用法类似

@use 
1、该文件只导入一次，不管在项目中@use它多少次。
2、以下划线(_)或连字符(-)开头的变量、mixin 和函数(Sass称为"成员变量")被认为是私有的，不会被导入。
3、导入的文件（这里即buttons.scss）中的成员变量只在局部可用，而不会传递到未来的导入结果中。
4、类似地，@extends将只应用于上游链——即只扩展被导入的文件中的选择器，而不是执行导入命令的文件。
5、所有导入的成员变量默认拥有命名空间

*/

@use './common/config.scss' as *;
@use './common/var.scss' as *;
$icon-size: 20px;
:root {
	--icon-size: #{$icon-size};
}

@font-face {
	font-family: 'vi-ui-icon';
	/* Project id 1224585 */
	src: url('./fonts/') format('woff2'), url('./fonts/iconfont.woff?t=1653225634465') format('woff'),
		url('./fonts/iconfont.ttf?t=1653225634465') format('truetype');
}

[class^='#{$namespace}-icon'],
[class*='#{$namespace}-icon'] {
	font-family: 'vi-ui-icon' !important;
	font-size: var(--icon-size);
	color: inherit;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.#{$namespace}-icon {
	&-unlock:before {
		content: '\e7fe';
	}

	&-lock:before {
		content: '\e7ff';
	}

	&-align-right:before {
		content: '\e800';
	}

	&-align-left:before {
		content: '\e801';
	}

	&-border-bottom:before {
		content: '\e802';
	}

	&-border-top:before {
		content: '\e803';
	}

	&-align-center:before {
		content: '\e804';
	}

	&-border-verticle:before {
		content: '\e805';
	}

	&-pic-center:before {
		content: '\e806';
	}

	&-pic-side:before {
		content: '\e807';
	}

	&-folder-open:before {
		content: '\e808';
	}

	&-folder-plus:before {
		content: '\e809';
	}

	&-folder:before {
		content: '\e80a';
	}

	&-file-SQL1:before {
		content: '\e80b';
	}

	&-file-plus:before {
		content: '\e80c';
	}

	&-file:before {
		content: '\e80d';
	}

	&-copy:before {
		content: '\e80e';
	}

	&-headset:before {
		content: '\e80f';
	}

	&-phone:before {
		content: '\e810';
	}

	&-pausecircle:before {
		content: '\e811';
	}

	&-stopcircle:before {
		content: '\e812';
	}

	&-playcircle:before {
		content: '\e813';
	}

	&-delete:before {
		content: '\e814';
	}

	&-picture:before {
		content: '\e815';
	}

	&-mail:before {
		content: '\e816';
	}

	&-like:before {
		content: '\e817';
	}

	&-collection:before {
		content: '\e818';
	}

	&-account-plus:before {
		content: '\e81a';
	}

	&-account:before {
		content: '\e81b';
	}

	&-cog:before {
		content: '\e81c';
	}

	&-clock:before {
		content: '\e81d';
	}

	&-calendar-alt:before {
		content: '\e81e';
	}

	&-clouddownload:before {
		content: '\e81f';
	}

	&-cloudupload:before {
		content: '\e820';
	}

	&-exchange:before {
		content: '\e821';
	}

	&-info-circle:before {
		content: '\e822';
	}

	&-question-circle:before {
		content: '\e823';
	}

	&-exclamation-circle:before {
		content: '\e824';
	}

	&-minus-circle:before {
		content: '\e825';
	}

	&-plus-circle:before {
		content: '\e826';
	}

	&-times-circle:before {
		content: '\e827';
	}

	&-check-circle:before {
		content: '\e828';
	}

	&-compress-alt:before {
		content: '\e829';
	}

	&-expand-alt:before {
		content: '\e82a';
	}

	&-ban:before {
		content: '\e82b';
	}

	&-minus:before {
		content: '\e82c';
	}

	&-plus:before {
		content: '\e82d';
	}

	&-times:before {
		content: '\e82e';
	}

	&-check:before {
		content: '\e82f';
	}

	&-search-minus:before {
		content: '\e830';
	}

	&-search-plus:before {
		content: '\e831';
	}

	&-search:before {
		content: '\e832';
	}

	&-reply:before {
		content: '\e833';
	}

	&-undo:before {
		content: '\e834';
	}

	&-redo:before {
		content: '\e835';
	}

	&-external-link:before {
		content: '\e836';
	}

	&-arrows-alt:before {
		content: '\e837';
	}

	&-indent:before {
		content: '\e838';
	}

	&-outdent:before {
		content: '\e839';
	}

	&-sort-line:before {
		content: '\e83a';
	}

	&-switch:before {
		content: '\e83b';
	}

	&-wind-descending:before {
		content: '\e83c';
	}

	&-wind-ascending:before {
		content: '\e83d';
	}

	&-download:before {
		content: '\e83e';
	}

	&-upload:before {
		content: '\e83f';
	}

	&-arrow-to-bottom:before {
		content: '\e840';
	}

	&-arrow-to-top:before {
		content: '\e841';
	}

	&-long-arrow-down:before {
		content: '\e842';
	}

	&-long-arrow-up:before {
		content: '\e843';
	}

	&-arrow-right:before {
		content: '\e844';
	}

	&-arrow-left:before {
		content: '\e845';
	}

	&-sort:before {
		content: '\e846';
	}

	&-sort-down:before {
		content: '\e847';
	}

	&-sort-up:before {
		content: '\e848';
	}

	&-caret-right:before {
		content: '\e849';
	}

	&-caret-left:before {
		content: '\e84a';
	}

	&-arrows-v:before {
		content: '\e84b';
	}

	&-angle-double-down:before {
		content: '\e84c';
	}

	&-angle-double-up:before {
		content: '\e84d';
	}

	&-angle-double-right:before {
		content: '\e84e';
	}

	&-angle-double-left:before {
		content: '\e84f';
	}

	&-angle-down:before {
		content: '\e850';
	}

	&-angle-up:before {
		content: '\e851';
	}

	&-angle-right:before {
		content: '\e852';
	}

	&-angle-left:before {
		content: '\e853';
	}

	&-paperclip:before {
		content: '\e854';
	}

	&-connection:before {
		content: '\e855';
	}

	&-training:before {
		content: '\e856';
	}

	&-process:before {
		content: '\e857';
	}

	&-news:before {
		content: '\e858';
	}

	&-save:before {
		content: '\e859';
	}

	&-print:before {
		content: '\e85a';
	}

	&-new-releases:before {
		content: '\e85b';
	}

	&-release:before {
		content: '\e85c';
	}

	&-alert:before {
		content: '\e85d';
	}

	&-backspace:before {
		content: '\e85e';
	}

	&-gem:before {
		content: '\e85f';
	}

	&-integral:before {
		content: '\e860';
	}

	&-star-circle:before {
		content: '\e861';
	}

	&-user-circle:before {
		content: '\e862';
	}

	&-cloud-machine-fill:before {
		content: '\e863';
	}

	&-cloud-machine:before {
		content: '\e864';
	}

	&-terminal-fill:before {
		content: '\e865';
	}

	&-terminal:before {
		content: '\e866';
	}

	&-shopping-cart-fill:before {
		content: '\e867';
	}

	&-resource:before {
		content: '\e868';
	}

	&-rank:before {
		content: '\e86a';
	}

	&-sync-alt:before {
		content: '\e86b';
	}

	&-compass:before {
		content: '\e86c';
	}

	&-arrow-alt-from-top:before {
		content: '\e86d';
	}

	&-arrow-alt-from-botto:before {
		content: '\e86e';
	}

	&-menu:before {
		content: '\e86f';
	}

	&-icon-drag:before {
		content: '\e870';
	}

	&-early-warning:before {
		content: '\e871';
	}

	&-share:before {
		content: '\e872';
	}

	&-share1:before {
		content: '\e873';
	}

	&-management-:before {
		content: '\e874';
	}

	&-accesskeys:before {
		content: '\e875';
	}

	&-arrow-sortdown-smal:before {
		content: '\e877';
	}

	&-minus-square-fill:before {
		content: '\e878';
	}

	&-plus-square-fill:before {
		content: '\e879';
	}

	&-minus-square:before {
		content: '\e87a';
	}

	&-plus-square:before {
		content: '\e87b';
	}

	&-stepmode:before {
		content: '\e87d';
	}

	&-scrollingmode:before {
		content: '\e87e';
	}

	&-shoppingcart:before {
		content: '\e881';
	}

	&-waiting-fill:before {
		content: '\e882';
	}

	&-waiting:before {
		content: '\e883';
	}

	&-right-arrow-rect:before {
		content: '\e884';
	}

	&-left-arrow-rect:before {
		content: '\e885';
	}

	&-bell:before {
		content: '\e887';
	}

	&-structured-data:before {
		content: '\e888';
	}

	&-vector:before {
		content: '\e889';
	}

	&-drag:before {
		content: '\e769';
	}

	&-NEW-copy:before {
		content: '\e88a';
	}

	&-ellipsis-vertical:before {
		content: '\e76a';
	}

	&-HOT-copy:before {
		content: '\e88b';
	}

	&-gallery-view:before {
		content: '\e76b';
	}

	&-home:before {
		content: '\e88c';
	}

	&-WIFI:before {
		content: '\e76c';
	}

	&-monitoring:before {
		content: '\e88e';
	}

	&-bug-report:before {
		content: '\e76d';
	}

	&-diagnose:before {
		content: '\e88f';
	}

	&-qrcode:before {
		content: '\e76e';
	}

	&-loading:before {
		content: '\e891';
	}

	&-scan:before {
		content: '\e76f';
	}

	&-Directory-tree:before {
		content: '\e892';
	}

	&-cut:before {
		content: '\e770';
	}

	&-application:before {
		content: '\e89e';
	}

	&-gift:before {
		content: '\e771';
	}

	&-applicationgroup:before {
		content: '\e89f';
	}

	&-link:before {
		content: '\e772';
	}

	&-poweroff:before {
		content: '\e774';
	}

	&-key:before {
		content: '\e775';
	}

	&-safety-certificate:before {
		content: '\e776';
	}

	&-supervise:before {
		content: '\e777';
	}

	&-tag-subscipt:before {
		content: '\e78a';
	}

	&-chart-pie-alt:before {
		content: '\e78c';
	}

	&-chart-relation:before {
		content: '\e78d';
	}

	&-chart-scatter-plot:before {
		content: '\e78e';
	}

	&-chart-area:before {
		content: '\e78f';
	}

	&-chart-line:before {
		content: '\e790';
	}

	&-chart-bar:before {
		content: '\e791';
	}

	&-display-code:before {
		content: '\e792';
	}

	&-display-arrow-right:before {
		content: '\e793';
	}

	&-display-arrow-left:before {
		content: '\e794';
	}

	&-laptop-error:before {
		content: '\e795';
	}

	&-laptop-check:before {
		content: '\e796';
	}

	&-laptop:before {
		content: '\e797';
	}

	&-mobile-error:before {
		content: '\e798';
	}

	&-mobile-check:before {
		content: '\e799';
	}

	&-mobile-alt:before {
		content: '\e79a';
	}

	&-nail:before {
		content: '\e79e';
	}

	&-nail-fixed:before {
		content: '\e79f';
	}

	&-edit:before {
		content: '\e7a0';
	}

	&-dollar:before {
		content: '\e7a1';
	}

	&-transanction:before {
		content: '\e7a2';
	}

	&-filter-fill:before {
		content: '\e7a3';
	}

	&-all-fill:before {
		content: '\e7a4';
	}

	&-databaseplus-fill:before {
		content: '\e7a5';
	}

	&-database-fill:before {
		content: '\e7a6';
	}

	&-commentlines-fill:before {
		content: '\e7a7';
	}

	&-commentdots-fill:before {
		content: '\e7a8';
	}

	&-paperplane-fill:before {
		content: '\e7a9';
	}

	&-eyeslash-fill:before {
		content: '\e7aa';
	}

	&-eye-fill:before {
		content: '\e7ab';
	}

	&-lightbulb-fill:before {
		content: '\e7ac';
	}

	&-flag-fill:before {
		content: '\e7ad';
	}

	&-tag-fill:before {
		content: '\e7ae';
	}

	&-position-fill:before {
		content: '\e7af';
	}

	&-location-fill:before {
		content: '\e7b0';
	}

	&-map-fill:before {
		content: '\e7b1';
	}

	&-inboxin-fill:before {
		content: '\e7b2';
	}

	&-box-fill:before {
		content: '\e7b3';
	}

	&-databaseset-fill:before {
		content: '\e7b4';
	}

	&-layergroup-fill:before {
		content: '\e7b5';
	}

	&-cry-fill:before {
		content: '\e7b6';
	}

	&-smile-fill:before {
		content: '\e7b7';
	}

	&-unlock-fill:before {
		content: '\e7b8';
	}

	&-lock-fill:before {
		content: '\e7b9';
	}

	&-alignright-fill:before {
		content: '\e7ba';
	}

	&-alignleft-fill:before {
		content: '\e7bb';
	}

	&-borderbottom-fill:before {
		content: '\e7bc';
	}

	&-bordertop-fill:before {
		content: '\e7be';
	}

	&-aligncenter-fill:before {
		content: '\e7bf';
	}

	&-borderverticle-fill:before {
		content: '\e7c0';
	}

	&-piccenter-fill:before {
		content: '\e7c1';
	}

	&-picside-fill:before {
		content: '\e7c2';
	}

	&-folderopen-fill:before {
		content: '\e7c3';
	}

	&-folderplus-fill:before {
		content: '\e7c4';
	}

	&-folder-fill:before {
		content: '\e7c5';
	}

	&-file-SQL:before {
		content: '\e7c6';
	}

	&-fileplus-fill:before {
		content: '\e7c7';
	}

	&-file-fill:before {
		content: '\e7c8';
	}

	&-copy-fill:before {
		content: '\e7c9';
	}

	&-headset-fill:before {
		content: '\e7ca';
	}

	&-phone-fill:before {
		content: '\e7cb';
	}

	&-pausecircle-fill:before {
		content: '\e7cc';
	}

	&-stopcircle-fill:before {
		content: '\e7cd';
	}

	&-playcircle-fill:before {
		content: '\e7ce';
	}

	&-delete-fill:before {
		content: '\e7cf';
	}

	&-picture-fill:before {
		content: '\e7d0';
	}

	&-mail-fill:before {
		content: '\e7d1';
	}

	&-heart-fill:before {
		content: '\e7d2';
	}

	&-collection-fill:before {
		content: '\e7d3';
	}

	&-user-group-fill:before {
		content: '\e7d4';
	}

	&-userplus-fill:before {
		content: '\e7d5';
	}

	&-user-fill:before {
		content: '\e7d6';
	}

	&-cog-fill:before {
		content: '\e7d7';
	}

	&-clock-fill:before {
		content: '\e7d8';
	}

	&-calendaralt-fill:before {
		content: '\e7d9';
	}

	&-clouddownload-fill:before {
		content: '\e7da';
	}

	&-cloudupload-fill:before {
		content: '\e7de';
	}

	&-exchange-fill:before {
		content: '\e7df';
	}

	&-info-circle-fill:before {
		content: '\e7e0';
	}

	&-question-circle-fill:before {
		content: '\e7e1';
	}

	&-exclamationcircle-f:before {
		content: '\e7e2';
	}

	&-minus-circle-fill:before {
		content: '\e7e3';
	}

	&-plus-circle-fill:before {
		content: '\e7e4';
	}

	&-times-circle-fill:before {
		content: '\e7e5';
	}

	&-check-circle-fill:before {
		content: '\e7e6';
	}

	&-compressalt-fill:before {
		content: '\e7e7';
	}

	&-expandalt-fill:before {
		content: '\e7e8';
	}

	&-filter:before {
		content: '\e7e9';
	}

	&-all:before {
		content: '\e7ea';
	}

	&-database-plus:before {
		content: '\e7eb';
	}

	&-database:before {
		content: '\e7ec';
	}

	&-comment-lines:before {
		content: '\e7ed';
	}

	&-comment-dots:before {
		content: '\e7ee';
	}

	&-paper-plane:before {
		content: '\e7ef';
	}

	&-eye-slash:before {
		content: '\e7f0';
	}

	&-eye:before {
		content: '\e7f1';
	}

	&-lightbulb:before {
		content: '\e7f2';
	}

	&-flag:before {
		content: '\e7f3';
	}

	&-tag:before {
		content: '\e7f4';
	}

	&-position:before {
		content: '\e7f5';
	}

	&-location:before {
		content: '\e7f6';
	}

	&-map:before {
		content: '\e7f7';
	}

	&-inbox-in:before {
		content: '\e7f8';
	}

	&-box:before {
		content: '\e7f9';
	}

	&-database-set:before {
		content: '\e7fa';
	}

	&-layer-group:before {
		content: '\e7fb';
	}

	&-wind-cry:before {
		content: '\e7fc';
	}

	&-wind-smile:before {
		content: '\e7fd';
	}

	&-shuzi2:before {
		content: '\e698';
	}

	&-shuzi4:before {
		content: '\e69a';
	}

	&-duoyuyan:before {
		content: '\e654';
	}

	&-shoucang:before {
		content: '\e666';
	}

	&-shezhi:before {
		content: '\e68f';
	}

	&-gerenfill:before {
		content: '\e6c5';
	}

	&-shoucangfill:before {
		content: '\e6c9';
	}

	&-dangdifill:before {
		content: '\e6d6';
	}

	&-dangdi:before {
		content: '\e6d7';
	}

	&-bankexing:before {
		content: '\e6f0';
	}

	&-safari:before {
		content: '\e718';
	}

	&-shuzi3:before {
		content: '\e624';
	}

	&-shuzi1:before {
		content: '\e626';
	}

	&-shuzi5:before {
		content: '\e62a';
	}

	&-shuzi6:before {
		content: '\e62b';
	}

	&-shuzi7:before {
		content: '\e62c';
	}

	&-shuzi8:before {
		content: '\e62d';
	}

	&-shuzi9:before {
		content: '\e711';
	}

	&-fengcai:before {
		content: '\e6bc';
	}

	&-fengcai1:before {
		content: '\e6c4';
	}

	&-luxianchaxun:before {
		content: '\e623';
	}

	&-bianji:before {
		content: '\e615';
	}

	&-shanchu2:before {
		content: '\e674';
	}

	&-miyao:before {
		content: '\e681';
	}

	&-tianjiatupian:before {
		content: '\e7dd';
	}

	&-icon:before {
		content: '\e60b';
	}

	&-fuwuqiguanli:before {
		content: '\e604';
	}

	&-tianjia2:before {
		content: '\e700';
	}

	&-duorenyonghu2:before {
		content: '\e7db';
	}

	&-duorenyonghu:before {
		content: '\e7dc';
	}

	&-ai-img-list:before {
		content: '\e60e';
	}

	&-shuzi0:before {
		content: '\e621';
	}

	&-shanchu:before {
		content: '\e6be';
	}

	&-weibiaoti555:before {
		content: '\e63c';
	}

	&-020tianjia:before {
		content: '\e687';
	}

	&-icon_video:before {
		content: '\e617';
	}

	&-3dtouchzhiboxiangqingliebiao:before {
		content: '\e60d';
	}

	&-cuowu:before {
		content: '\e7bd';
	}

	&-cuowu1:before {
		content: '\e676';
	}

	&-saomiaoerweima:before {
		content: '\e66c';
	}

	&-shanchu1:before {
		content: '\e653';
	}

	&-shujuchaxun:before {
		content: '\e635';
	}

	&-zhuceyonghu:before {
		content: '\e64c';
	}

	&-renzhengyonghu:before {
		content: '\e64d';
	}

	&-zuzhijiagou:before {
		content: '\e618';
	}

	&-cankaowenjian:before {
		content: '\e628';
	}

	&-theme:before {
		content: '\e66f';
	}

	&-video-channel:before {
		content: '\e688';
	}

	&-renwu:before {
		content: '\e8cb';
	}

	&-kehuqunzu:before {
		content: '\e673';
	}

	&-fuwuqi:before {
		content: '\e61a';
	}

	&-icon-p_wuliaozu:before {
		content: '\e607';
	}

	&-suoding:before {
		content: '\e634';
	}

	&-wangluocuowu:before {
		content: '\e62e';
	}

	&-shipin-tianchong:before {
		content: '\e647';
	}

	&-guijitu:before {
		content: '\e61d';
	}

	&-suoding1:before {
		content: '\e600';
	}

	&-mianyizuhua:before {
		content: '\e625';
	}

	&-shipin:before {
		content: '\e759';
	}

	&-xiaoxi:before {
		content: '\e6eb';
	}

	&-lvzhou_gengduo_xiangqing:before {
		content: '\e627';
	}

	&-IPshijiantongji:before {
		content: '\e602';
	}

	&-anfengxiantongji:before {
		content: '\e605';
	}

	&-saomiaobingfenxi:before {
		content: '\e63d';
	}

	&-shijian:before {
		content: '\e61b';
	}

	&-tianjiaxiangmu:before {
		content: '\e60f';
	}

	&-tongjibaobiao:before {
		content: '\e614';
	}

	&-noun__cc:before {
		content: '\e609';
	}

	&-fuwuqi1:before {
		content: '\e665';
	}

	&-xiaoxi1:before {
		content: '\e619';
	}

	&-yunwulifuwuqi:before {
		content: '\e9e7';
	}

	&-xiaoxi-kong:before {
		content: '\e682';
	}

	&-tianjia:before {
		content: '\e63b';
	}

	&-fuwuqi2:before {
		content: '\e65b';
	}

	&-chilunzu:before {
		content: '\e6e0';
	}

	&--zuzhiguanli:before {
		content: '\e724';
	}

	&-shanchu3:before {
		content: '\e632';
	}

	&-quanpingsuoxiao:before {
		content: '\e62f';
	}

	&-quanpingxianshi:before {
		content: '\e630';
	}

	&-tongji:before {
		content: '\e61c';
	}

	&-svg-:before {
		content: '\e622';
	}

	&-svg-1:before {
		content: '\e629';
	}

	&-svg-2:before {
		content: '\e631';
	}

	&-yonghuguanli:before {
		content: '\e633';
	}

	&-yuanshichaxun:before {
		content: '\e636';
	}

	&-wenjianjia:before {
		content: '\e61e';
	}

	&-yonghuxinxi:before {
		content: '\e601';
	}

	&-huabanfuben:before {
		content: '\e696';
	}

	&-bianji-tianchong:before {
		content: '\e729';
	}

	&-tupian-tianchong:before {
		content: '\e737';
	}

	&-saomiao:before {
		content: '\e637';
	}

	&-excel:before {
		content: '\e63e';
	}

	&-word:before {
		content: '\e640';
	}

	&-yonghufugai:before {
		content: '\e608';
	}
}
