@use './common/config.scss' as *;

@keyframes scroll {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

// .#{$namespace}-tool-tip {
//     position: absolute;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 5px;
//     border-radius: 5px;
//     background-color: #333;
//     color: #fff;
//     font-size: 14px;
//     white-space: nowrap;
//     z-index: 1000;
// }

.#{$namespace}-long-text {
    // width: initial;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    // background-color: aquamarine;
    display: flex;

    // &.tooltip {
    //     position: relative;
    //     &::before {
    //         display: block;
    //         content: "asdasd";
    //         // display: none;
    //         position: absolute;
    //         top: 0%;
    //         left: 50%;
    //         transform: translateX(-50%);
    //         padding: 0 4px;
    //         border-radius: 2px;
    //         background-color: #333;
    //         color: #fff;
    //         font-weight: 100;
    //     }

    //     &::after {
    //         content: "";
    //         display: block;
    //         position: absolute;
    //         top: 100%;
    //         left: 50%;
    //         transform: translateX(-50%);
    //         border-width: 6px;
    //         border-style: solid;
    //         border-color: transparent transparent #333 transparent;
    //     }

    //     // &:hover::before,
    //     // &:focus::before {
    //     //     background-color: #333;
    //     //     display: block;
    //     // }
    // }

    &__scroll {
        overflow: auto;
        text-align: center;
        width: 100%;

        &::-webkit-scrollbar {
            display: none;
        }

        & .seizeASeat {
            display: inline-block;
            width: calc(var(--txt-gap)*1px);
            height: 10px;
        }
    }
}


.#{$namespace}-roll-list {
    width: calc(var(--box-width) * 1px);

    &__th {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: var(--th-bg-color);
        color: var(--th-fo-color);
        padding: calc(var(--th-pad-tb)*1px) 0;
        font-size: calc(var(--th-fo-size)*1px);
        font-weight: var(--th-fo-weight);
        border-radius: calc(var(--th-radius-lt)*1px) calc(var(--th-radius-rt)*1px) calc(var(--th-radius-lb)*1px) calc(var(--th-radius-rb)*1px);
    }

    &__scroll {
        overflow-y: scroll;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__wrapper {
        list-style-type: none;
        width: inherit;
        margin: 0 !important;
        padding: 0 !important;

        & li {
            margin: 0 !important;
            padding: 0 !important;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &:nth-child(even) {
                // background: #2d4b76;
            }

            &:hover {
                transition: background calc(var(--tr-hover-transition)*1s);
                background-color: var(--tr-hover-bg-color) !important;
                cursor: pointer;
            }
        }
    }






    &__td {
        padding: calc(var(--td-pad-tb)*1px) calc(var(--td-pad-lr)*1px);
        overflow: hidden;
        text-align: center;
    }
}