@use './common/config.scss' as *;

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-150%);
    }
}


.#{$namespace}-roll-list {
    width: calc(var(--box-width) * 1px);

    &__th {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: var(--th-bg-color);
        color: var(--th-fo-color);
        padding: calc(var(--th-pad-tb)*1px) calc(var(--box-pad-lr)*1px);
        font-size: calc(var(--th-fo-size)*1px);
        font-weight: var(--th-fo-weight);
    }

    &__td {
        padding: 0 4px;
        width: 40px;
        overflow: hidden;
        text-align: center;
        // background-color: rgb(87, 146, 126);

        & .longText {
            // background-color: aquamarine;
            white-space: nowrap;
            animation: scroll 5s linear infinite;
            transform: translate3d(0, 0, 0);
        }
    }


    &__scroll {
        overflow-y: scroll;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__wrapper {
        list-style-type: none;
        background: #0b1c36;
        color: white;
        width: inherit;

        & li {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            // font-size: 10px;
            padding: 0 calc(var(--box-pad-lr)*1px);
            

            &:nth-child(even) {
                // background: #2d4b76;
            }
        }
    }
}