@use './common/config.scss' as *;

.#{$namespace}-scroll-bar {
    background-color: rgb(227, 238, 238);
    position: relative;

    &__wrapper {
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__bar {
        position: absolute;
        right: 2px;
        top: 0px;

        & .vertical {
            background-color: aqua;
        }
    }

    &__thumb {
        z-index: 1;
        background-color: var(--thumb-bg-color);
        border-radius: 50px;
        cursor: pointer;
        transition: .7s background-color, .5s opacity;
        user-select: none;

        &.show {
            opacity: 1;
        }

        &.hide {
            opacity: 0;
        }
        
        &:hover {
            background-color: rgb(16, 125, 171);
        }
    }
}