@use './common/config.scss' as *;

.inline-flex-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.init-input {
    outline: none;
    border: none;
    background-color: none;
}

// ul {
//     margin: 0;
//     padding: 0;
// }



// 下拉选择器
.#{$namespace}-select-v2 {
    @extend .inline-flex-center;
    flex-direction: column;
    position: relative;



    &-search {
        height: calc(var(--popper-option-height)*1px);
        line-height: calc(var(--popper-option-height)*1px);
        padding: 0 calc(var(--popper-option-padding-lr)*1px);
        // background-color: var(--popper-bg-color);
        // background-color: initial;
        background-color: var(--popper-search-bg-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        position: sticky;
        top: 0;

        &__input {
            outline: none;
            border: none;
            // background-color: initial;
            background-color: var(--popper-search-inp-bg-color);
            width: 100%;
            line-height: calc(var(--popper-search-line-height)*1px);
            box-shadow: calc(var(--popper-search-box-shadow-x)*1px) calc(var(--popper-search-box-shadow-y)*1px) calc(var(--popper-search-box-shadow-blur)*1px) calc(var(--popper-search-box-shadow-spread)*1px) var(--popper-search-box-shadow-color);
            border-radius: calc(var(--popper-search-border-radius)*1px);
            padding: calc(var(--popper-search-padding-t)*1px) calc(var(--popper-search-padding-r)*1px) calc(var(--popper-search-padding-b)*1px) calc(var(--popper-search-padding-l)*1px);
            font-size: calc(var(--popper-search-fo-size)*1px);
            color: var(--popper-search-fo-color);
            font-weight: var(--popper-search-fo-weight);
        }
    }

    &-svg-icon {
        color: var(--input-icon-color);
    }

    // 暂无数据
    &-notData {
        height: calc(var(--popper-option-height)*1px);
        line-height: calc(var(--popper-option-height)*1px);
        background-color: var(--popper-bg-color);
        text-align: center;
        user-select: none;
        color: var(--popper-option-fo-color);
        font-size: calc(var(--popper-option-fo-size)*1px);
        font-weight: var(--popper-option-fo-weight);
    }

    // 搜索icon
    &--search {
        @extend .#{$namespace}-select-v2--showMore;
        bottom: 0;
        right: 0;
        left: 14px;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        height: calc(var(--popper-search-icon-size)*1px);
        width: calc(var(--popper-search-icon-size)*1px);
    }

    // 展开icon
    &--showMore {
        position: absolute;
        z-index: 999;
        right: 12px;
        bottom: 12px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            color: var(--unfold-icon-hover-fo-color);
        }
    }
}



// input
.#{$namespace}-select-v2-input {
    @extend .inline-flex-center;
    box-shadow: calc(var(--input-box-shadow-x)*1px) calc(var(--input-box-shadow-y)*1px) calc(var(--input-box-shadow-blur)*1px) calc(var(--input-box-shadow-spread)*1px) var(--input-box-shadow-color);
    border-radius: calc(var(--input-border-radius) * 1px);
    padding: calc(var(--input-line-padding-t)*1px) calc(var(--input-line-padding-r)*1px) calc(var(--input-line-padding-b)*1px) calc(var(--input-line-padding-l)*1px);
    background-color: var(--input-bg-color);
    transition: .5s;
    cursor: pointer;
    position: relative;

    &:hover {
        box-shadow: calc(var(--input-hover-box-shadow-x)*1px) calc(var(--input-hover-box-shadow-y)*1px) calc(var(--input-hover-box-shadow-blur)*1px) calc(var(--input-hover-box-shadow-spread)*1px) var(--input-hover-box-shadow-color);
    }

    &__inner {
        @extend .init-input;
        background: initial;
        line-height: calc(var(--input-line-height) * 1px);
        width: calc(var(--input-width) * 1px);
        cursor: pointer;
        color: var(--input-fo-color);
        text-align: var(--input-text-alight);
        font-size: calc(var(--input-fo-size)*1px);
        font-weight: var(--input-fo-weight);

        &::-webkit-input-placeholder {
            color: var(--input-placeholder-fo-color);
        }
    }

    & .arrow {
        transition: .3s;

        &.turnUp {
            transform: rotate(0deg);
        }


        &.turnDown {
            transform: rotate(180deg);
        }

    }

    // 激活状态
    &.active {
        box-shadow: calc(var(--input-active-box-shadow-x)*1px) calc(var(--input-active-box-shadow-y)*1px) calc(var(--input-active-box-shadow-blur)*1px) calc(var(--input-active-box-shadow-spread)*1px) var(--input-active-box-shadow-color);
    }
}

// tag
.#{$namespace}-select-v2-taglist {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    @extend .flex-center;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: calc(100% - var(--input-icon-width)*1px - var(--popper-option-padding-lr)*2px);
    z-index: 1;

    .#{$namespace}-select-v2-tag {
        box-sizing: border-box;
        height: calc(var(--tag-height)*1px - var(--tag-margin-b)*2px);
        background-color: var(--tag-bg-color);
        margin: calc(var(--tag-margin-t)*1px) calc(var(--tag-margin-r)*1px) calc(var(--tag-margin-b)*1px) calc(var(--tag-margin-l)*1px);
        padding: calc(var(--tag-padding-t)*1px) calc(var(--tag-padding-r)*1px) calc(var(--tag-padding-b)*1px) calc(var(--tag-padding-l)*1px);
        border-radius: calc(var(--tag-border-radius)*1px);
        @extend .inline-flex-center;
        position: relative;


        & span {
            color: var(--tag-fo-color);
            font-size: calc(var(--tag-fo-size)*1px);
            font-weight: var(--tag-fo-weight);
            margin-right: 2px;
            user-select: none;

            max-width: calc(var(--tag-max-width) *1px);
            display: inline-block;
            line-height: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }



        &.useToolTip {
            color: var(--tag-tooltip-fo-color);
            font-size: calc(var(--tag-tooltip-fo-size)*1px);
            font-weight: var(--tag-tooltip-fo-weight);

            &::before {
                content: "";
                position: absolute;
                transition: .5s;
                top: calc(var(--tag-height)*1px - var(--tag-margin-b)*2px - 6px);
                left: calc(50% - 6px);
                z-index: -999;
                opacity: 0;

                width: 0px;
                height: 0px;
                border-top: 6px solid transparent;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid var(--tag-tooltip-bg-color);
            }

            &::after {
                content: attr(data-txt);
                position: absolute;
                transition: .5s;
                top: calc(var(--tag-height)*1px - var(--tag-margin-b)*2px + 6px);
                left: 0;
                white-space: pre;
                padding: 5px 8px;
                background-color: var(--tag-tooltip-bg-color);
                border-radius: 4px;
                z-index: -999;
                opacity: 0;
            }

            &:hover {
                &::before {
                    z-index: 999;
                    opacity: 1;
                }

                &::after {
                    z-index: 999;
                    opacity: 1;
                }
            }
        }




        & .icon {
            border-radius: 50%;
            color: var(--tag-fo-color);
            padding: 2px;
            transition: .3s;

            &:hover {
                background-color: var(--tag-close-hover-bg-color);
                color: var(--tag-close-hover-fo-color);
                cursor: pointer;
            }
        }
    }
}


// popper
.#{$namespace}-select-v2-dropdown-popper {
    position: absolute;
    border-radius: calc(var(--popper-border-radius)*1px);
    width: 100%;
    z-index: var(--popper-z-index);
    transition: box-shadow .3s;

    &.active {
        box-shadow: calc(var(--popper-box-shadow-x)*1px) calc(var(--popper-box-shadow-y)*1px) calc(var(--popper-box-shadow-blur)*1px) calc(var(--popper-box-shadow-spread)*1px) var(--popper-box-shadow-color);
    }
}

// dropdown
.#{$namespace}-select-v2-dropdown {
    height: 0px;
    width: 100%;
    padding: 0;
    overflow: hidden;
    transition: 0.2s cubic-bezier(0.76, 0.32, 1, 0.99);
    z-index: var(--popper-z-index);
    background-color: var(--popper-bg-color);
    border-radius: calc(var(--popper-border-radius)*1px);

    &.active {
        height: calc(var(--popper-height)*1px);
        transition: 0.3s;
    }

    &-arrow {
        height: 0px;
        width: 0px;
        // background-color: var(--popper-bg-color);
        // transform: translate3d(-50%, calc(var(--popper-arrow-height)/2 * -1px), 0) rotate(45deg);
        transform: translate3d(-50%, 0, 0);
        position: absolute;
        left: 50%;
        top: calc(var(--popper-arrow-height) * -2px);

        border-bottom: calc(var(--popper-arrow-height) * 1px) solid transparent;

        &.active {
            transition: border-bottom .2s;
            // height: calc(var(--popper-arrow-height)*1px);
            // width: calc(var(--popper-arrow-height)*1px);
            width: 0px;
            height: 0px;
            border-top: calc(var(--popper-arrow-height) * 1px) solid transparent;
            border-left: calc(var(--popper-arrow-height) * 1px) solid transparent;
            border-right: calc(var(--popper-arrow-height) * 1px) solid transparent;
            border-bottom: calc(var(--popper-arrow-height) * 1px) solid var(--popper-bg-color);
        }
    }

    &__inner {
        box-sizing: border-box;
        overflow: hidden;
        height: calc(var(--popper-height)*1px);
        padding: calc(var(--popper-padding)*1px) 0;

        & li {
            overflow: hidden;
            justify-content: var(--popper-option-fo-alight);
        }

        & .co2 {
            & li {
                flex-basis: 50%;
            }
        }

        & .co3 {
            & li {
                flex-basis: 33.333%;
            }
        }

        & .co4 {
            & li {
                flex-basis: 25%;
            }
        }

        & .co5 {
            & li {
                flex-basis: 20%;
            }
        }

        & .co6 {
            & li {
                flex-basis: 16.666%;
            }
        }

        & .co7 {
            & li {
                flex-basis: 14.285%;
            }
        }
    }

}

// unfold dialog
.#{$namespace}-select-v2-unfold-dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: 999;



    & .mask {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        transition: .3s;

        &.active {
            background-color: #00000080;
        }
    }


    &__wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        border-radius: 8px;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        transition: .2s;
        width: 0;
        height: 0;

        &.active {
            padding: calc(var(--unfold-padding-t)*1px) calc(var(--unfold-padding-r)*1px) calc(var(--unfold-padding-b)*1px) calc(var(--unfold-padding-l)*1px);
            width: calc(var(--unfold-width)*1px);
            height: calc(var(--unfold-height)*1px);
        }

        // 组件-dialog-tag
        .#{$namespace}-select-v2-tag {
            padding: calc(var(--unfold-tag-padding-t)*1px) calc(var(--unfold-tag-padding-r)*1px) calc(var(--unfold-tag-padding-b)*1px) calc(var(--unfold-tag-padding-l)*1px);
            margin: calc(var(--unfold-tag-margin-t)*1px) calc(var(--unfold-tag-margin-r)*1px) calc(var(--unfold-tag-margin-b)*1px) calc(var(--unfold-tag-margin-l)*1px);
            background-color: var(--unfold-tag-bg-color);
            border-radius: calc(var(--unfold-tag-border-radius)*1px);
            transition: .3s;
            user-select: none;

            &:hover {
                cursor: pointer;
                background-color: var(--unfold-tag-hover-bg-color);
            }
        }
    }

    &__inner {
        box-sizing: border-box;
        height: inherit;
        width: inherit;
        overflow: scroll;

        & span {
            display: inline-flex;

            &.active {
                background-color: var(--unfold-tag-active-bg-color);
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &--close {
        position: absolute;
        right: 10px;
        top: 10px;

        &:hover {
            cursor: pointer;
            color: var(--unfold-icon-hover-fo-color);
        }
    }
}

// dropdown-item
.#{$namespace}-select-v2-option {
    list-style-type: none;
    box-sizing: border-box;
    padding: 0 calc(var(--popper-option-padding-lr)*1px);
    height: calc(var(--popper-option-height)*1px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
    transition: .2s;
    color: var(--popper-option-fo-color);
    font-size: calc(var(--popper-option-fo-size)*1px);
    font-weight: var(--popper-option-fo-weight);

    & .txt {
        margin: 0 calc(var(--popper-option-txt-margin-lr)*1px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    &:hover {
        background-color: var(--popper-option-hover-bg-color);
    }

    &.active {
        color: var(--popper-option-active-fo-color);
        font-weight: var(--popper-option-active-fo-weight);
    }
}

// scroll-bar
.#{$namespace}-scroll-bar {
    position: relative;

    &:hover {
        .#{$namespace}-scroll-bar_right {
            width: calc(var(--scroll-bar-width)*1px);
        }
    }

    &_left {
        overflow: scroll;
        height: calc(var(--popper-height)*1px - var(--popper-padding)*2px);

        &::-webkit-scrollbar {
            display: none;
        }

        & ul {
            margin: 0 !important;
            padding: 0 !important;
        }
    }

    &_right {
        position: absolute;
        right: 4px;
        top: 0px;
        width: 0px;
        border-radius: 50px;
        transition: background .5s, width .3s;
        cursor: pointer;
        background-color: var(--scroll-bar-bg-color);
        // height: var(--scrollBarHeight);

        &:hover {
            background-color: var(--scroll-bar-hover-bg-color);
        }
    }
}