/**
@use和@import用法类似

@use 
1、该文件只导入一次，不管在项目中@use它多少次。
2、以下划线(_)或连字符(-)开头的变量、mixin 和函数(Sass称为"成员变量")被认为是私有的，不会被导入。
3、导入的文件（这里即buttons.scss）中的成员变量只在局部可用，而不会传递到未来的导入结果中。
4、类似地，@extends将只应用于上游链——即只扩展被导入的文件中的选择器，而不是执行导入命令的文件。
5、所有导入的成员变量默认拥有命名空间

*/

@use './common/config.scss' as *;
@use './common/var.scss' as *;
$icon-size: 20px;
:root {
    --icon-size: #{$icon-size};
}

@font-face {
    font-family: 'vi-ui-icon';
    /* Project id 1224585 */
    src: url('./fonts/') format('woff2'), url('./fonts/iconfont.woff?t=1653225634465') format('woff'), url('./fonts/iconfont.ttf?t=1653225634465') format('truetype');
}

[class^='#{$namespace}-icon'],
[class*='#{$namespace}-icon'] {
    font-family: 'vi-ui-icon' !important;
    font-size: var(--icon-size);
    color: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.#{$namespace}-icon-unlock:before {
    content: '\e7fe';
}

.#{$namespace}-icon-lock:before {
    content: '\e7ff';
}

.#{$namespace}-icon-align-right:before {
    content: '\e800';
}

.#{$namespace}-icon-align-left:before {
    content: '\e801';
}

.#{$namespace}-icon-border-bottom:before {
    content: '\e802';
}

.#{$namespace}-icon-border-top:before {
    content: '\e803';
}

.#{$namespace}-icon-align-center:before {
    content: '\e804';
}

.#{$namespace}-icon-border-verticle:before {
    content: '\e805';
}

.#{$namespace}-icon-pic-center:before {
    content: '\e806';
}

.#{$namespace}-icon-pic-side:before {
    content: '\e807';
}

.#{$namespace}-icon-folder-open:before {
    content: '\e808';
}

.#{$namespace}-icon-folder-plus:before {
    content: '\e809';
}

.#{$namespace}-icon-folder:before {
    content: '\e80a';
}

.#{$namespace}-icon-file-SQL1:before {
    content: '\e80b';
}

.#{$namespace}-icon-file-plus:before {
    content: '\e80c';
}

.#{$namespace}-icon-file:before {
    content: '\e80d';
}

.#{$namespace}-icon-copy:before {
    content: '\e80e';
}

.#{$namespace}-icon-headset:before {
    content: '\e80f';
}

.#{$namespace}-icon-phone:before {
    content: '\e810';
}

.#{$namespace}-icon-pausecircle:before {
    content: '\e811';
}

.#{$namespace}-icon-stopcircle:before {
    content: '\e812';
}

.#{$namespace}-icon-playcircle:before {
    content: '\e813';
}

.#{$namespace}-icon-delete:before {
    content: '\e814';
}

.#{$namespace}-icon-picture:before {
    content: '\e815';
}

.#{$namespace}-icon-mail:before {
    content: '\e816';
}

.#{$namespace}-icon-like:before {
    content: '\e817';
}

.#{$namespace}-icon-collection:before {
    content: '\e818';
}

.#{$namespace}-icon-account-plus:before {
    content: '\e81a';
}

.#{$namespace}-icon-account:before {
    content: '\e81b';
}

.#{$namespace}-icon-cog:before {
    content: '\e81c';
}

.#{$namespace}-icon-clock:before {
    content: '\e81d';
}

.#{$namespace}-icon-calendar-alt:before {
    content: '\e81e';
}

.#{$namespace}-icon-clouddownload:before {
    content: '\e81f';
}

.#{$namespace}-icon-cloudupload:before {
    content: '\e820';
}

.#{$namespace}-icon-exchange:before {
    content: '\e821';
}

.#{$namespace}-icon-info-circle:before {
    content: '\e822';
}

.#{$namespace}-icon-question-circle:before {
    content: '\e823';
}

.#{$namespace}-icon-exclamation-circle:before {
    content: '\e824';
}

.#{$namespace}-icon-minus-circle:before {
    content: '\e825';
}

.#{$namespace}-icon-plus-circle:before {
    content: '\e826';
}

.#{$namespace}-icon-times-circle:before {
    content: '\e827';
}

.#{$namespace}-icon-check-circle:before {
    content: '\e828';
}

.#{$namespace}-icon-compress-alt:before {
    content: '\e829';
}

.#{$namespace}-icon-expand-alt:before {
    content: '\e82a';
}

.#{$namespace}-icon-ban:before {
    content: '\e82b';
}

.#{$namespace}-icon-minus:before {
    content: '\e82c';
}

.#{$namespace}-icon-plus:before {
    content: '\e82d';
}

.#{$namespace}-icon-times:before {
    content: '\e82e';
}

.#{$namespace}-icon-check:before {
    content: '\e82f';
}

.#{$namespace}-icon-search-minus:before {
    content: '\e830';
}

.#{$namespace}-icon-search-plus:before {
    content: '\e831';
}

.#{$namespace}-icon-search:before {
    content: '\e832';
}

.#{$namespace}-icon-reply:before {
    content: '\e833';
}

.#{$namespace}-icon-undo:before {
    content: '\e834';
}

.#{$namespace}-icon-redo:before {
    content: '\e835';
}

.#{$namespace}-icon-external-link:before {
    content: '\e836';
}

.#{$namespace}-icon-arrows-alt:before {
    content: '\e837';
}

.#{$namespace}-icon-indent:before {
    content: '\e838';
}

.#{$namespace}-icon-outdent:before {
    content: '\e839';
}

.#{$namespace}-icon-sort-line:before {
    content: '\e83a';
}

.#{$namespace}-icon-switch:before {
    content: '\e83b';
}

.#{$namespace}-icon-wind-descending:before {
    content: '\e83c';
}

.#{$namespace}-icon-wind-ascending:before {
    content: '\e83d';
}

.#{$namespace}-icon-download:before {
    content: '\e83e';
}

.#{$namespace}-icon-upload:before {
    content: '\e83f';
}

.#{$namespace}-icon-arrow-to-bottom:before {
    content: '\e840';
}

.#{$namespace}-icon-arrow-to-top:before {
    content: '\e841';
}

.#{$namespace}-icon-long-arrow-down:before {
    content: '\e842';
}

.#{$namespace}-icon-long-arrow-up:before {
    content: '\e843';
}

.#{$namespace}-icon-arrow-right:before {
    content: '\e844';
}

.#{$namespace}-icon-arrow-left:before {
    content: '\e845';
}

.#{$namespace}-icon-sort:before {
    content: '\e846';
}

.#{$namespace}-icon-sort-down:before {
    content: '\e847';
}

.#{$namespace}-icon-sort-up:before {
    content: '\e848';
}

.#{$namespace}-icon-caret-right:before {
    content: '\e849';
}

.#{$namespace}-icon-caret-left:before {
    content: '\e84a';
}

.#{$namespace}-icon-arrows-v:before {
    content: '\e84b';
}

.#{$namespace}-icon-angle-double-down:before {
    content: '\e84c';
}

.#{$namespace}-icon-angle-double-up:before {
    content: '\e84d';
}

.#{$namespace}-icon-angle-double-right:before {
    content: '\e84e';
}

.#{$namespace}-icon-angle-double-left:before {
    content: '\e84f';
}

.#{$namespace}-icon-angle-down:before {
    content: '\e850';
}

.#{$namespace}-icon-angle-up:before {
    content: '\e851';
}

.#{$namespace}-icon-angle-right:before {
    content: '\e852';
}

.#{$namespace}-icon-angle-left:before {
    content: '\e853';
}

.#{$namespace}-icon-paperclip:before {
    content: '\e854';
}

.#{$namespace}-icon-connection:before {
    content: '\e855';
}

.#{$namespace}-icon-training:before {
    content: '\e856';
}

.#{$namespace}-icon-process:before {
    content: '\e857';
}

.#{$namespace}-icon-news:before {
    content: '\e858';
}

.#{$namespace}-icon-save:before {
    content: '\e859';
}

.#{$namespace}-icon-print:before {
    content: '\e85a';
}

.#{$namespace}-icon-new-releases:before {
    content: '\e85b';
}

.#{$namespace}-icon-release:before {
    content: '\e85c';
}

.#{$namespace}-icon-alert:before {
    content: '\e85d';
}

.#{$namespace}-icon-backspace:before {
    content: '\e85e';
}

.#{$namespace}-icon-gem:before {
    content: '\e85f';
}

.#{$namespace}-icon-integral:before {
    content: '\e860';
}

.#{$namespace}-icon-star-circle:before {
    content: '\e861';
}

.#{$namespace}-icon-user-circle:before {
    content: '\e862';
}

.#{$namespace}-icon-cloud-machine-fill:before {
    content: '\e863';
}

.#{$namespace}-icon-cloud-machine:before {
    content: '\e864';
}

.#{$namespace}-icon-terminal-fill:before {
    content: '\e865';
}

.#{$namespace}-icon-terminal:before {
    content: '\e866';
}

.#{$namespace}-icon-shopping-cart-fill:before {
    content: '\e867';
}

.#{$namespace}-icon-resource:before {
    content: '\e868';
}

.#{$namespace}-icon-rank:before {
    content: '\e86a';
}

.#{$namespace}-icon-sync-alt:before {
    content: '\e86b';
}

.#{$namespace}-icon-compass:before {
    content: '\e86c';
}

.#{$namespace}-icon-arrow-alt-from-top:before {
    content: '\e86d';
}

.#{$namespace}-icon-arrow-alt-from-botto:before {
    content: '\e86e';
}

.#{$namespace}-icon-menu:before {
    content: '\e86f';
}

.#{$namespace}-icon-icon-drag:before {
    content: '\e870';
}

.#{$namespace}-icon-early-warning:before {
    content: '\e871';
}

.#{$namespace}-icon-share:before {
    content: '\e872';
}

.#{$namespace}-icon-share1:before {
    content: '\e873';
}

.#{$namespace}-icon-management-:before {
    content: '\e874';
}

.#{$namespace}-icon-accesskeys:before {
    content: '\e875';
}

.#{$namespace}-icon-arrow-sortdown-smal:before {
    content: '\e877';
}

.#{$namespace}-icon-minus-square-fill:before {
    content: '\e878';
}

.#{$namespace}-icon-plus-square-fill:before {
    content: '\e879';
}

.#{$namespace}-icon-minus-square:before {
    content: '\e87a';
}

.#{$namespace}-icon-plus-square:before {
    content: '\e87b';
}

.#{$namespace}-icon-stepmode:before {
    content: '\e87d';
}

.#{$namespace}-icon-scrollingmode:before {
    content: '\e87e';
}

.#{$namespace}-icon-shoppingcart:before {
    content: '\e881';
}

.#{$namespace}-icon-waiting-fill:before {
    content: '\e882';
}

.#{$namespace}-icon-waiting:before {
    content: '\e883';
}

.#{$namespace}-icon-right-arrow-rect:before {
    content: '\e884';
}

.#{$namespace}-icon-left-arrow-rect:before {
    content: '\e885';
}

.#{$namespace}-icon-bell:before {
    content: '\e887';
}

.#{$namespace}-icon-structured-data:before {
    content: '\e888';
}

.#{$namespace}-icon-vector:before {
    content: '\e889';
}

.#{$namespace}-icon-drag:before {
    content: '\e769';
}

.#{$namespace}-icon-NEW-copy:before {
    content: '\e88a';
}

.#{$namespace}-icon-ellipsis-vertical:before {
    content: '\e76a';
}

.#{$namespace}-icon-HOT-copy:before {
    content: '\e88b';
}

.#{$namespace}-icon-gallery-view:before {
    content: '\e76b';
}

.#{$namespace}-icon-home:before {
    content: '\e88c';
}

.#{$namespace}-icon-WIFI:before {
    content: '\e76c';
}

.#{$namespace}-icon-monitoring:before {
    content: '\e88e';
}

.#{$namespace}-icon-bug-report:before {
    content: '\e76d';
}

.#{$namespace}-icon-diagnose:before {
    content: '\e88f';
}

.#{$namespace}-icon-qrcode:before {
    content: '\e76e';
}

.#{$namespace}-icon-loading:before {
    content: '\e891';
}

.#{$namespace}-icon-scan:before {
    content: '\e76f';
}

.#{$namespace}-icon-Directory-tree:before {
    content: '\e892';
}

.#{$namespace}-icon-cut:before {
    content: '\e770';
}

.#{$namespace}-icon-application:before {
    content: '\e89e';
}

.#{$namespace}-icon-gift:before {
    content: '\e771';
}

.#{$namespace}-icon-applicationgroup:before {
    content: '\e89f';
}

.#{$namespace}-icon-link:before {
    content: '\e772';
}

.#{$namespace}-icon-poweroff:before {
    content: '\e774';
}

.#{$namespace}-icon-key:before {
    content: '\e775';
}

.#{$namespace}-icon-safety-certificate:before {
    content: '\e776';
}

.#{$namespace}-icon-supervise:before {
    content: '\e777';
}

.#{$namespace}-icon-tag-subscipt:before {
    content: '\e78a';
}

.#{$namespace}-icon-chart-pie-alt:before {
    content: '\e78c';
}

.#{$namespace}-icon-chart-relation:before {
    content: '\e78d';
}

.#{$namespace}-icon-chart-scatter-plot:before {
    content: '\e78e';
}

.#{$namespace}-icon-chart-area:before {
    content: '\e78f';
}

.#{$namespace}-icon-chart-line:before {
    content: '\e790';
}

.#{$namespace}-icon-chart-bar:before {
    content: '\e791';
}

.#{$namespace}-icon-display-code:before {
    content: '\e792';
}

.#{$namespace}-icon-display-arrow-right:before {
    content: '\e793';
}

.#{$namespace}-icon-display-arrow-left:before {
    content: '\e794';
}

.#{$namespace}-icon-laptop-error:before {
    content: '\e795';
}

.#{$namespace}-icon-laptop-check:before {
    content: '\e796';
}

.#{$namespace}-icon-laptop:before {
    content: '\e797';
}

.#{$namespace}-icon-mobile-error:before {
    content: '\e798';
}

.#{$namespace}-icon-mobile-check:before {
    content: '\e799';
}

.#{$namespace}-icon-mobile-alt:before {
    content: '\e79a';
}

.#{$namespace}-icon-nail:before {
    content: '\e79e';
}

.#{$namespace}-icon-nail-fixed:before {
    content: '\e79f';
}

.#{$namespace}-icon-edit:before {
    content: '\e7a0';
}

.#{$namespace}-icon-dollar:before {
    content: '\e7a1';
}

.#{$namespace}-icon-transanction:before {
    content: '\e7a2';
}

.#{$namespace}-icon-filter-fill:before {
    content: '\e7a3';
}

.#{$namespace}-icon-all-fill:before {
    content: '\e7a4';
}

.#{$namespace}-icon-databaseplus-fill:before {
    content: '\e7a5';
}

.#{$namespace}-icon-database-fill:before {
    content: '\e7a6';
}

.#{$namespace}-icon-commentlines-fill:before {
    content: '\e7a7';
}

.#{$namespace}-icon-commentdots-fill:before {
    content: '\e7a8';
}

.#{$namespace}-icon-paperplane-fill:before {
    content: '\e7a9';
}

.#{$namespace}-icon-eyeslash-fill:before {
    content: '\e7aa';
}

.#{$namespace}-icon-eye-fill:before {
    content: '\e7ab';
}

.#{$namespace}-icon-lightbulb-fill:before {
    content: '\e7ac';
}

.#{$namespace}-icon-flag-fill:before {
    content: '\e7ad';
}

.#{$namespace}-icon-tag-fill:before {
    content: '\e7ae';
}

.#{$namespace}-icon-position-fill:before {
    content: '\e7af';
}

.#{$namespace}-icon-location-fill:before {
    content: '\e7b0';
}

.#{$namespace}-icon-map-fill:before {
    content: '\e7b1';
}

.#{$namespace}-icon-inboxin-fill:before {
    content: '\e7b2';
}

.#{$namespace}-icon-box-fill:before {
    content: '\e7b3';
}

.#{$namespace}-icon-databaseset-fill:before {
    content: '\e7b4';
}

.#{$namespace}-icon-layergroup-fill:before {
    content: '\e7b5';
}

.#{$namespace}-icon-cry-fill:before {
    content: '\e7b6';
}

.#{$namespace}-icon-smile-fill:before {
    content: '\e7b7';
}

.#{$namespace}-icon-unlock-fill:before {
    content: '\e7b8';
}

.#{$namespace}-icon-lock-fill:before {
    content: '\e7b9';
}

.#{$namespace}-icon-alignright-fill:before {
    content: '\e7ba';
}

.#{$namespace}-icon-alignleft-fill:before {
    content: '\e7bb';
}

.#{$namespace}-icon-borderbottom-fill:before {
    content: '\e7bc';
}

.#{$namespace}-icon-bordertop-fill:before {
    content: '\e7be';
}

.#{$namespace}-icon-aligncenter-fill:before {
    content: '\e7bf';
}

.#{$namespace}-icon-borderverticle-fill:before {
    content: '\e7c0';
}

.#{$namespace}-icon-piccenter-fill:before {
    content: '\e7c1';
}

.#{$namespace}-icon-picside-fill:before {
    content: '\e7c2';
}

.#{$namespace}-icon-folderopen-fill:before {
    content: '\e7c3';
}

.#{$namespace}-icon-folderplus-fill:before {
    content: '\e7c4';
}

.#{$namespace}-icon-folder-fill:before {
    content: '\e7c5';
}

.#{$namespace}-icon-file-SQL:before {
    content: '\e7c6';
}

.#{$namespace}-icon-fileplus-fill:before {
    content: '\e7c7';
}

.#{$namespace}-icon-file-fill:before {
    content: '\e7c8';
}

.#{$namespace}-icon-copy-fill:before {
    content: '\e7c9';
}

.#{$namespace}-icon-headset-fill:before {
    content: '\e7ca';
}

.#{$namespace}-icon-phone-fill:before {
    content: '\e7cb';
}

.#{$namespace}-icon-pausecircle-fill:before {
    content: '\e7cc';
}

.#{$namespace}-icon-stopcircle-fill:before {
    content: '\e7cd';
}

.#{$namespace}-icon-playcircle-fill:before {
    content: '\e7ce';
}

.#{$namespace}-icon-delete-fill:before {
    content: '\e7cf';
}

.#{$namespace}-icon-picture-fill:before {
    content: '\e7d0';
}

.#{$namespace}-icon-mail-fill:before {
    content: '\e7d1';
}

.#{$namespace}-icon-heart-fill:before {
    content: '\e7d2';
}

.#{$namespace}-icon-collection-fill:before {
    content: '\e7d3';
}

.#{$namespace}-icon-user-group-fill:before {
    content: '\e7d4';
}

.#{$namespace}-icon-userplus-fill:before {
    content: '\e7d5';
}

.#{$namespace}-icon-user-fill:before {
    content: '\e7d6';
}

.#{$namespace}-icon-cog-fill:before {
    content: '\e7d7';
}

.#{$namespace}-icon-clock-fill:before {
    content: '\e7d8';
}

.#{$namespace}-icon-calendaralt-fill:before {
    content: '\e7d9';
}

.#{$namespace}-icon-clouddownload-fill:before {
    content: '\e7da';
}

.#{$namespace}-icon-cloudupload-fill:before {
    content: '\e7de';
}

.#{$namespace}-icon-exchange-fill:before {
    content: '\e7df';
}

.#{$namespace}-icon-info-circle-fill:before {
    content: '\e7e0';
}

.#{$namespace}-icon-question-circle-fill:before {
    content: '\e7e1';
}

.#{$namespace}-icon-exclamationcircle-f:before {
    content: '\e7e2';
}

.#{$namespace}-icon-minus-circle-fill:before {
    content: '\e7e3';
}

.#{$namespace}-icon-plus-circle-fill:before {
    content: '\e7e4';
}

.#{$namespace}-icon-times-circle-fill:before {
    content: '\e7e5';
}

.#{$namespace}-icon-check-circle-fill:before {
    content: '\e7e6';
}

.#{$namespace}-icon-compressalt-fill:before {
    content: '\e7e7';
}

.#{$namespace}-icon-expandalt-fill:before {
    content: '\e7e8';
}

.#{$namespace}-icon-filter:before {
    content: '\e7e9';
}

.#{$namespace}-icon-all:before {
    content: '\e7ea';
}

.#{$namespace}-icon-database-plus:before {
    content: '\e7eb';
}

.#{$namespace}-icon-database:before {
    content: '\e7ec';
}

.#{$namespace}-icon-comment-lines:before {
    content: '\e7ed';
}

.#{$namespace}-icon-comment-dots:before {
    content: '\e7ee';
}

.#{$namespace}-icon-paper-plane:before {
    content: '\e7ef';
}

.#{$namespace}-icon-eye-slash:before {
    content: '\e7f0';
}

.#{$namespace}-icon-eye:before {
    content: '\e7f1';
}

.#{$namespace}-icon-lightbulb:before {
    content: '\e7f2';
}

.#{$namespace}-icon-flag:before {
    content: '\e7f3';
}

.#{$namespace}-icon-tag:before {
    content: '\e7f4';
}

.#{$namespace}-icon-position:before {
    content: '\e7f5';
}

.#{$namespace}-icon-location:before {
    content: '\e7f6';
}

.#{$namespace}-icon-map:before {
    content: '\e7f7';
}

.#{$namespace}-icon-inbox-in:before {
    content: '\e7f8';
}

.#{$namespace}-icon-box:before {
    content: '\e7f9';
}

.#{$namespace}-icon-database-set:before {
    content: '\e7fa';
}

.#{$namespace}-icon-layer-group:before {
    content: '\e7fb';
}

.#{$namespace}-icon-wind-cry:before {
    content: '\e7fc';
}

.#{$namespace}-icon-wind-smile:before {
    content: '\e7fd';
}

.#{$namespace}-icon-shuzi2:before {
    content: '\e698';
}

.#{$namespace}-icon-shuzi4:before {
    content: '\e69a';
}

.#{$namespace}-icon-duoyuyan:before {
    content: '\e654';
}

.#{$namespace}-icon-shoucang:before {
    content: '\e666';
}

.#{$namespace}-icon-shezhi:before {
    content: '\e68f';
}

.#{$namespace}-icon-gerenfill:before {
    content: '\e6c5';
}

.#{$namespace}-icon-shoucangfill:before {
    content: '\e6c9';
}

.#{$namespace}-icon-dangdifill:before {
    content: '\e6d6';
}

.#{$namespace}-icon-dangdi:before {
    content: '\e6d7';
}

.#{$namespace}-icon-bankexing:before {
    content: '\e6f0';
}

.#{$namespace}-icon-safari:before {
    content: '\e718';
}

.#{$namespace}-icon-shuzi3:before {
    content: '\e624';
}

.#{$namespace}-icon-shuzi1:before {
    content: '\e626';
}

.#{$namespace}-icon-shuzi5:before {
    content: '\e62a';
}

.#{$namespace}-icon-shuzi6:before {
    content: '\e62b';
}

.#{$namespace}-icon-shuzi7:before {
    content: '\e62c';
}

.#{$namespace}-icon-shuzi8:before {
    content: '\e62d';
}

.#{$namespace}-icon-shuzi9:before {
    content: '\e711';
}

.#{$namespace}-icon-fengcai:before {
    content: '\e6bc';
}

.#{$namespace}-icon-fengcai1:before {
    content: '\e6c4';
}

.#{$namespace}-icon-luxianchaxun:before {
    content: '\e623';
}

.#{$namespace}-icon-bianji:before {
    content: '\e615';
}

.#{$namespace}-icon-shanchu2:before {
    content: '\e674';
}

.#{$namespace}-icon-miyao:before {
    content: '\e681';
}

.#{$namespace}-icon-tianjiatupian:before {
    content: '\e7dd';
}

.#{$namespace}-icon-icon:before {
    content: '\e60b';
}

.#{$namespace}-icon-fuwuqiguanli:before {
    content: '\e604';
}

.#{$namespace}-icon-tianjia2:before {
    content: '\e700';
}

.#{$namespace}-icon-duorenyonghu2:before {
    content: '\e7db';
}

.#{$namespace}-icon-duorenyonghu:before {
    content: '\e7dc';
}

.#{$namespace}-icon-ai-img-list:before {
    content: '\e60e';
}

.#{$namespace}-icon-shuzi0:before {
    content: '\e621';
}

.#{$namespace}-icon-shanchu:before {
    content: '\e6be';
}

.#{$namespace}-icon-weibiaoti555:before {
    content: '\e63c';
}

.#{$namespace}-icon-020tianjia:before {
    content: '\e687';
}

.#{$namespace}-icon-icon_video:before {
    content: '\e617';
}

.#{$namespace}-icon-3dtouchzhiboxiangqingliebiao:before {
    content: '\e60d';
}

.#{$namespace}-icon-cuowu:before {
    content: '\e7bd';
}

.#{$namespace}-icon-cuowu1:before {
    content: '\e676';
}

.#{$namespace}-icon-saomiaoerweima:before {
    content: '\e66c';
}

.#{$namespace}-icon-shanchu1:before {
    content: '\e653';
}

.#{$namespace}-icon-shujuchaxun:before {
    content: '\e635';
}

.#{$namespace}-icon-zhuceyonghu:before {
    content: '\e64c';
}

.#{$namespace}-icon-renzhengyonghu:before {
    content: '\e64d';
}

.#{$namespace}-icon-zuzhijiagou:before {
    content: '\e618';
}

.#{$namespace}-icon-cankaowenjian:before {
    content: '\e628';
}

.#{$namespace}-icon-theme:before {
    content: '\e66f';
}

.#{$namespace}-icon-video-channel:before {
    content: '\e688';
}

.#{$namespace}-icon-renwu:before {
    content: '\e8cb';
}

.#{$namespace}-icon-kehuqunzu:before {
    content: '\e673';
}

.#{$namespace}-icon-fuwuqi:before {
    content: '\e61a';
}

.#{$namespace}-icon-icon-p_wuliaozu:before {
    content: '\e607';
}

.#{$namespace}-icon-suoding:before {
    content: '\e634';
}

.#{$namespace}-icon-wangluocuowu:before {
    content: '\e62e';
}

.#{$namespace}-icon-shipin-tianchong:before {
    content: '\e647';
}

.#{$namespace}-icon-guijitu:before {
    content: '\e61d';
}

.#{$namespace}-icon-suoding1:before {
    content: '\e600';
}

.#{$namespace}-icon-mianyizuhua:before {
    content: '\e625';
}

.#{$namespace}-icon-shipin:before {
    content: '\e759';
}

.#{$namespace}-icon-xiaoxi:before {
    content: '\e6eb';
}

.#{$namespace}-icon-lvzhou_gengduo_xiangqing:before {
    content: '\e627';
}

.#{$namespace}-icon-IPshijiantongji:before {
    content: '\e602';
}

.#{$namespace}-icon-anfengxiantongji:before {
    content: '\e605';
}

.#{$namespace}-icon-saomiaobingfenxi:before {
    content: '\e63d';
}

.#{$namespace}-icon-shijian:before {
    content: '\e61b';
}

.#{$namespace}-icon-tianjiaxiangmu:before {
    content: '\e60f';
}

.#{$namespace}-icon-tongjibaobiao:before {
    content: '\e614';
}

.#{$namespace}-icon-noun__cc:before {
    content: '\e609';
}

.#{$namespace}-icon-fuwuqi1:before {
    content: '\e665';
}

.#{$namespace}-icon-xiaoxi1:before {
    content: '\e619';
}

.#{$namespace}-icon-yunwulifuwuqi:before {
    content: '\e9e7';
}

.#{$namespace}-icon-xiaoxi-kong:before {
    content: '\e682';
}

.#{$namespace}-icon-tianjia:before {
    content: '\e63b';
}

.#{$namespace}-icon-fuwuqi2:before {
    content: '\e65b';
}

.#{$namespace}-icon-chilunzu:before {
    content: '\e6e0';
}

.#{$namespace}-icon--zuzhiguanli:before {
    content: '\e724';
}

.#{$namespace}-icon-shanchu3:before {
    content: '\e632';
}

.#{$namespace}-icon-quanpingsuoxiao:before {
    content: '\e62f';
}

.#{$namespace}-icon-quanpingxianshi:before {
    content: '\e630';
}

.#{$namespace}-icon-tongji:before {
    content: '\e61c';
}

.#{$namespace}-icon-svg-:before {
    content: '\e622';
}

.#{$namespace}-icon-svg-1:before {
    content: '\e629';
}

.#{$namespace}-icon-svg-2:before {
    content: '\e631';
}

.#{$namespace}-icon-yonghuguanli:before {
    content: '\e633';
}

.#{$namespace}-icon-yuanshichaxun:before {
    content: '\e636';
}

.#{$namespace}-icon-wenjianjia:before {
    content: '\e61e';
}

.#{$namespace}-icon-yonghuxinxi:before {
    content: '\e601';
}

.#{$namespace}-icon-huabanfuben:before {
    content: '\e696';
}

.#{$namespace}-icon-bianji-tianchong:before {
    content: '\e729';
}

.#{$namespace}-icon-tupian-tianchong:before {
    content: '\e737';
}

.#{$namespace}-icon-saomiao:before {
    content: '\e637';
}

.#{$namespace}-icon-excel:before {
    content: '\e63e';
}

.#{$namespace}-icon-word:before {
    content: '\e640';
}

.#{$namespace}-icon-yonghufugai:before {
    content: '\e608';
}