@font-face {
  font-family: "vi-ui-icon"; /* Project id 1224585 */
  src: url('iconfont.woff2?t=1653225634465') format('woff2'),
       url('iconfont.woff?t=1653225634465') format('woff'),
       url('iconfont.ttf?t=1653225634465') format('truetype');
}

.vi-ui-icon {
  font-family: "vi-ui-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vi-icon-unlock:before {
  content: "\e7fe";
}

.vi-icon-lock:before {
  content: "\e7ff";
}

.vi-icon-align-right:before {
  content: "\e800";
}

.vi-icon-align-left:before {
  content: "\e801";
}

.vi-icon-border-bottom:before {
  content: "\e802";
}

.vi-icon-border-top:before {
  content: "\e803";
}

.vi-icon-align-center:before {
  content: "\e804";
}

.vi-icon-border-verticle:before {
  content: "\e805";
}

.vi-icon-pic-center:before {
  content: "\e806";
}

.vi-icon-pic-side:before {
  content: "\e807";
}

.vi-icon-folder-open:before {
  content: "\e808";
}

.vi-icon-folder-plus:before {
  content: "\e809";
}

.vi-icon-folder:before {
  content: "\e80a";
}

.vi-icon-file-SQL1:before {
  content: "\e80b";
}

.vi-icon-file-plus:before {
  content: "\e80c";
}

.vi-icon-file:before {
  content: "\e80d";
}

.vi-icon-copy:before {
  content: "\e80e";
}

.vi-icon-headset:before {
  content: "\e80f";
}

.vi-icon-phone:before {
  content: "\e810";
}

.vi-icon-pausecircle:before {
  content: "\e811";
}

.vi-icon-stopcircle:before {
  content: "\e812";
}

.vi-icon-playcircle:before {
  content: "\e813";
}

.vi-icon-delete:before {
  content: "\e814";
}

.vi-icon-picture:before {
  content: "\e815";
}

.vi-icon-mail:before {
  content: "\e816";
}

.vi-icon-like:before {
  content: "\e817";
}

.vi-icon-collection:before {
  content: "\e818";
}

.vi-icon-account-plus:before {
  content: "\e81a";
}

.vi-icon-account:before {
  content: "\e81b";
}

.vi-icon-cog:before {
  content: "\e81c";
}

.vi-icon-clock:before {
  content: "\e81d";
}

.vi-icon-calendar-alt:before {
  content: "\e81e";
}

.vi-icon-clouddownload:before {
  content: "\e81f";
}

.vi-icon-cloudupload:before {
  content: "\e820";
}

.vi-icon-exchange:before {
  content: "\e821";
}

.vi-icon-info-circle:before {
  content: "\e822";
}

.vi-icon-question-circle:before {
  content: "\e823";
}

.vi-icon-exclamation-circle:before {
  content: "\e824";
}

.vi-icon-minus-circle:before {
  content: "\e825";
}

.vi-icon-plus-circle:before {
  content: "\e826";
}

.vi-icon-times-circle:before {
  content: "\e827";
}

.vi-icon-check-circle:before {
  content: "\e828";
}

.vi-icon-compress-alt:before {
  content: "\e829";
}

.vi-icon-expand-alt:before {
  content: "\e82a";
}

.vi-icon-ban:before {
  content: "\e82b";
}

.vi-icon-minus:before {
  content: "\e82c";
}

.vi-icon-plus:before {
  content: "\e82d";
}

.vi-icon-times:before {
  content: "\e82e";
}

.vi-icon-check:before {
  content: "\e82f";
}

.vi-icon-search-minus:before {
  content: "\e830";
}

.vi-icon-search-plus:before {
  content: "\e831";
}

.vi-icon-search:before {
  content: "\e832";
}

.vi-icon-reply:before {
  content: "\e833";
}

.vi-icon-undo:before {
  content: "\e834";
}

.vi-icon-redo:before {
  content: "\e835";
}

.vi-icon-external-link:before {
  content: "\e836";
}

.vi-icon-arrows-alt:before {
  content: "\e837";
}

.vi-icon-indent:before {
  content: "\e838";
}

.vi-icon-outdent:before {
  content: "\e839";
}

.vi-icon-sort-line:before {
  content: "\e83a";
}

.vi-icon-switch:before {
  content: "\e83b";
}

.vi-icon-wind-descending:before {
  content: "\e83c";
}

.vi-icon-wind-ascending:before {
  content: "\e83d";
}

.vi-icon-download:before {
  content: "\e83e";
}

.vi-icon-upload:before {
  content: "\e83f";
}

.vi-icon-arrow-to-bottom:before {
  content: "\e840";
}

.vi-icon-arrow-to-top:before {
  content: "\e841";
}

.vi-icon-long-arrow-down:before {
  content: "\e842";
}

.vi-icon-long-arrow-up:before {
  content: "\e843";
}

.vi-icon-arrow-right:before {
  content: "\e844";
}

.vi-icon-arrow-left:before {
  content: "\e845";
}

.vi-icon-sort:before {
  content: "\e846";
}

.vi-icon-sort-down:before {
  content: "\e847";
}

.vi-icon-sort-up:before {
  content: "\e848";
}

.vi-icon-caret-right:before {
  content: "\e849";
}

.vi-icon-caret-left:before {
  content: "\e84a";
}

.vi-icon-arrows-v:before {
  content: "\e84b";
}

.vi-icon-angle-double-down:before {
  content: "\e84c";
}

.vi-icon-angle-double-up:before {
  content: "\e84d";
}

.vi-icon-angle-double-right:before {
  content: "\e84e";
}

.vi-icon-angle-double-left:before {
  content: "\e84f";
}

.vi-icon-angle-down:before {
  content: "\e850";
}

.vi-icon-angle-up:before {
  content: "\e851";
}

.vi-icon-angle-right:before {
  content: "\e852";
}

.vi-icon-angle-left:before {
  content: "\e853";
}

.vi-icon-paperclip:before {
  content: "\e854";
}

.vi-icon-connection:before {
  content: "\e855";
}

.vi-icon-training:before {
  content: "\e856";
}

.vi-icon-process:before {
  content: "\e857";
}

.vi-icon-news:before {
  content: "\e858";
}

.vi-icon-save:before {
  content: "\e859";
}

.vi-icon-print:before {
  content: "\e85a";
}

.vi-icon-new-releases:before {
  content: "\e85b";
}

.vi-icon-release:before {
  content: "\e85c";
}

.vi-icon-alert:before {
  content: "\e85d";
}

.vi-icon-backspace:before {
  content: "\e85e";
}

.vi-icon-gem:before {
  content: "\e85f";
}

.vi-icon-integral:before {
  content: "\e860";
}

.vi-icon-star-circle:before {
  content: "\e861";
}

.vi-icon-user-circle:before {
  content: "\e862";
}

.vi-icon-cloud-machine-fill:before {
  content: "\e863";
}

.vi-icon-cloud-machine:before {
  content: "\e864";
}

.vi-icon-terminal-fill:before {
  content: "\e865";
}

.vi-icon-terminal:before {
  content: "\e866";
}

.vi-icon-shopping-cart-fill:before {
  content: "\e867";
}

.vi-icon-resource:before {
  content: "\e868";
}

.vi-icon-rank:before {
  content: "\e86a";
}

.vi-icon-sync-alt:before {
  content: "\e86b";
}

.vi-icon-compass:before {
  content: "\e86c";
}

.vi-icon-arrow-alt-from-top:before {
  content: "\e86d";
}

.vi-icon-arrow-alt-from-botto:before {
  content: "\e86e";
}

.vi-icon-menu:before {
  content: "\e86f";
}

.vi-icon-icon-drag:before {
  content: "\e870";
}

.vi-icon-early-warning:before {
  content: "\e871";
}

.vi-icon-share:before {
  content: "\e872";
}

.vi-icon-share1:before {
  content: "\e873";
}

.vi-icon-management-:before {
  content: "\e874";
}

.vi-icon-accesskeys:before {
  content: "\e875";
}

.vi-icon-arrow-sortdown-smal:before {
  content: "\e877";
}

.vi-icon-minus-square-fill:before {
  content: "\e878";
}

.vi-icon-plus-square-fill:before {
  content: "\e879";
}

.vi-icon-minus-square:before {
  content: "\e87a";
}

.vi-icon-plus-square:before {
  content: "\e87b";
}

.vi-icon-stepmode:before {
  content: "\e87d";
}

.vi-icon-scrollingmode:before {
  content: "\e87e";
}

.vi-icon-shoppingcart:before {
  content: "\e881";
}

.vi-icon-waiting-fill:before {
  content: "\e882";
}

.vi-icon-waiting:before {
  content: "\e883";
}

.vi-icon-right-arrow-rect:before {
  content: "\e884";
}

.vi-icon-left-arrow-rect:before {
  content: "\e885";
}

.vi-icon-bell:before {
  content: "\e887";
}

.vi-icon-structured-data:before {
  content: "\e888";
}

.vi-icon-vector:before {
  content: "\e889";
}

.vi-icon-drag:before {
  content: "\e769";
}

.vi-icon-NEW-copy:before {
  content: "\e88a";
}

.vi-icon-ellipsis-vertical:before {
  content: "\e76a";
}

.vi-icon-HOT-copy:before {
  content: "\e88b";
}

.vi-icon-gallery-view:before {
  content: "\e76b";
}

.vi-icon-home:before {
  content: "\e88c";
}

.vi-icon-WIFI:before {
  content: "\e76c";
}

.vi-icon-monitoring:before {
  content: "\e88e";
}

.vi-icon-bug-report:before {
  content: "\e76d";
}

.vi-icon-diagnose:before {
  content: "\e88f";
}

.vi-icon-qrcode:before {
  content: "\e76e";
}

.vi-icon-loading:before {
  content: "\e891";
}

.vi-icon-scan:before {
  content: "\e76f";
}

.vi-icon-Directory-tree:before {
  content: "\e892";
}

.vi-icon-cut:before {
  content: "\e770";
}

.vi-icon-application:before {
  content: "\e89e";
}

.vi-icon-gift:before {
  content: "\e771";
}

.vi-icon-applicationgroup:before {
  content: "\e89f";
}

.vi-icon-link:before {
  content: "\e772";
}

.vi-icon-poweroff:before {
  content: "\e774";
}

.vi-icon-key:before {
  content: "\e775";
}

.vi-icon-safety-certificate:before {
  content: "\e776";
}

.vi-icon-supervise:before {
  content: "\e777";
}

.vi-icon-tag-subscipt:before {
  content: "\e78a";
}

.vi-icon-chart-pie-alt:before {
  content: "\e78c";
}

.vi-icon-chart-relation:before {
  content: "\e78d";
}

.vi-icon-chart-scatter-plot:before {
  content: "\e78e";
}

.vi-icon-chart-area:before {
  content: "\e78f";
}

.vi-icon-chart-line:before {
  content: "\e790";
}

.vi-icon-chart-bar:before {
  content: "\e791";
}

.vi-icon-display-code:before {
  content: "\e792";
}

.vi-icon-display-arrow-right:before {
  content: "\e793";
}

.vi-icon-display-arrow-left:before {
  content: "\e794";
}

.vi-icon-laptop-error:before {
  content: "\e795";
}

.vi-icon-laptop-check:before {
  content: "\e796";
}

.vi-icon-laptop:before {
  content: "\e797";
}

.vi-icon-mobile-error:before {
  content: "\e798";
}

.vi-icon-mobile-check:before {
  content: "\e799";
}

.vi-icon-mobile-alt:before {
  content: "\e79a";
}

.vi-icon-nail:before {
  content: "\e79e";
}

.vi-icon-nail-fixed:before {
  content: "\e79f";
}

.vi-icon-edit:before {
  content: "\e7a0";
}

.vi-icon-dollar:before {
  content: "\e7a1";
}

.vi-icon-transanction:before {
  content: "\e7a2";
}

.vi-icon-filter-fill:before {
  content: "\e7a3";
}

.vi-icon-all-fill:before {
  content: "\e7a4";
}

.vi-icon-databaseplus-fill:before {
  content: "\e7a5";
}

.vi-icon-database-fill:before {
  content: "\e7a6";
}

.vi-icon-commentlines-fill:before {
  content: "\e7a7";
}

.vi-icon-commentdots-fill:before {
  content: "\e7a8";
}

.vi-icon-paperplane-fill:before {
  content: "\e7a9";
}

.vi-icon-eyeslash-fill:before {
  content: "\e7aa";
}

.vi-icon-eye-fill:before {
  content: "\e7ab";
}

.vi-icon-lightbulb-fill:before {
  content: "\e7ac";
}

.vi-icon-flag-fill:before {
  content: "\e7ad";
}

.vi-icon-tag-fill:before {
  content: "\e7ae";
}

.vi-icon-position-fill:before {
  content: "\e7af";
}

.vi-icon-location-fill:before {
  content: "\e7b0";
}

.vi-icon-map-fill:before {
  content: "\e7b1";
}

.vi-icon-inboxin-fill:before {
  content: "\e7b2";
}

.vi-icon-box-fill:before {
  content: "\e7b3";
}

.vi-icon-databaseset-fill:before {
  content: "\e7b4";
}

.vi-icon-layergroup-fill:before {
  content: "\e7b5";
}

.vi-icon-cry-fill:before {
  content: "\e7b6";
}

.vi-icon-smile-fill:before {
  content: "\e7b7";
}

.vi-icon-unlock-fill:before {
  content: "\e7b8";
}

.vi-icon-lock-fill:before {
  content: "\e7b9";
}

.vi-icon-alignright-fill:before {
  content: "\e7ba";
}

.vi-icon-alignleft-fill:before {
  content: "\e7bb";
}

.vi-icon-borderbottom-fill:before {
  content: "\e7bc";
}

.vi-icon-bordertop-fill:before {
  content: "\e7be";
}

.vi-icon-aligncenter-fill:before {
  content: "\e7bf";
}

.vi-icon-borderverticle-fill:before {
  content: "\e7c0";
}

.vi-icon-piccenter-fill:before {
  content: "\e7c1";
}

.vi-icon-picside-fill:before {
  content: "\e7c2";
}

.vi-icon-folderopen-fill:before {
  content: "\e7c3";
}

.vi-icon-folderplus-fill:before {
  content: "\e7c4";
}

.vi-icon-folder-fill:before {
  content: "\e7c5";
}

.vi-icon-file-SQL:before {
  content: "\e7c6";
}

.vi-icon-fileplus-fill:before {
  content: "\e7c7";
}

.vi-icon-file-fill:before {
  content: "\e7c8";
}

.vi-icon-copy-fill:before {
  content: "\e7c9";
}

.vi-icon-headset-fill:before {
  content: "\e7ca";
}

.vi-icon-phone-fill:before {
  content: "\e7cb";
}

.vi-icon-pausecircle-fill:before {
  content: "\e7cc";
}

.vi-icon-stopcircle-fill:before {
  content: "\e7cd";
}

.vi-icon-playcircle-fill:before {
  content: "\e7ce";
}

.vi-icon-delete-fill:before {
  content: "\e7cf";
}

.vi-icon-picture-fill:before {
  content: "\e7d0";
}

.vi-icon-mail-fill:before {
  content: "\e7d1";
}

.vi-icon-heart-fill:before {
  content: "\e7d2";
}

.vi-icon-collection-fill:before {
  content: "\e7d3";
}

.vi-icon-user-group-fill:before {
  content: "\e7d4";
}

.vi-icon-userplus-fill:before {
  content: "\e7d5";
}

.vi-icon-user-fill:before {
  content: "\e7d6";
}

.vi-icon-cog-fill:before {
  content: "\e7d7";
}

.vi-icon-clock-fill:before {
  content: "\e7d8";
}

.vi-icon-calendaralt-fill:before {
  content: "\e7d9";
}

.vi-icon-clouddownload-fill:before {
  content: "\e7da";
}

.vi-icon-cloudupload-fill:before {
  content: "\e7de";
}

.vi-icon-exchange-fill:before {
  content: "\e7df";
}

.vi-icon-info-circle-fill:before {
  content: "\e7e0";
}

.vi-icon-question-circle-fill:before {
  content: "\e7e1";
}

.vi-icon-exclamationcircle-f:before {
  content: "\e7e2";
}

.vi-icon-minus-circle-fill:before {
  content: "\e7e3";
}

.vi-icon-plus-circle-fill:before {
  content: "\e7e4";
}

.vi-icon-times-circle-fill:before {
  content: "\e7e5";
}

.vi-icon-check-circle-fill:before {
  content: "\e7e6";
}

.vi-icon-compressalt-fill:before {
  content: "\e7e7";
}

.vi-icon-expandalt-fill:before {
  content: "\e7e8";
}

.vi-icon-filter:before {
  content: "\e7e9";
}

.vi-icon-all:before {
  content: "\e7ea";
}

.vi-icon-database-plus:before {
  content: "\e7eb";
}

.vi-icon-database:before {
  content: "\e7ec";
}

.vi-icon-comment-lines:before {
  content: "\e7ed";
}

.vi-icon-comment-dots:before {
  content: "\e7ee";
}

.vi-icon-paper-plane:before {
  content: "\e7ef";
}

.vi-icon-eye-slash:before {
  content: "\e7f0";
}

.vi-icon-eye:before {
  content: "\e7f1";
}

.vi-icon-lightbulb:before {
  content: "\e7f2";
}

.vi-icon-flag:before {
  content: "\e7f3";
}

.vi-icon-tag:before {
  content: "\e7f4";
}

.vi-icon-position:before {
  content: "\e7f5";
}

.vi-icon-location:before {
  content: "\e7f6";
}

.vi-icon-map:before {
  content: "\e7f7";
}

.vi-icon-inbox-in:before {
  content: "\e7f8";
}

.vi-icon-box:before {
  content: "\e7f9";
}

.vi-icon-database-set:before {
  content: "\e7fa";
}

.vi-icon-layer-group:before {
  content: "\e7fb";
}

.vi-icon-wind-cry:before {
  content: "\e7fc";
}

.vi-icon-wind-smile:before {
  content: "\e7fd";
}

.vi-icon-shuzi2:before {
  content: "\e698";
}

.vi-icon-shuzi4:before {
  content: "\e69a";
}

.vi-icon-duoyuyan:before {
  content: "\e654";
}

.vi-icon-shoucang:before {
  content: "\e666";
}

.vi-icon-shezhi:before {
  content: "\e68f";
}

.vi-icon-gerenfill:before {
  content: "\e6c5";
}

.vi-icon-shoucangfill:before {
  content: "\e6c9";
}

.vi-icon-dangdifill:before {
  content: "\e6d6";
}

.vi-icon-dangdi:before {
  content: "\e6d7";
}

.vi-icon-bankexing:before {
  content: "\e6f0";
}

.vi-icon-safari:before {
  content: "\e718";
}

.vi-icon-shuzi3:before {
  content: "\e624";
}

.vi-icon-shuzi1:before {
  content: "\e626";
}

.vi-icon-shuzi5:before {
  content: "\e62a";
}

.vi-icon-shuzi6:before {
  content: "\e62b";
}

.vi-icon-shuzi7:before {
  content: "\e62c";
}

.vi-icon-shuzi8:before {
  content: "\e62d";
}

.vi-icon-shuzi9:before {
  content: "\e711";
}

.vi-icon-fengcai:before {
  content: "\e6bc";
}

.vi-icon-fengcai1:before {
  content: "\e6c4";
}

.vi-icon-luxianchaxun:before {
  content: "\e623";
}

.vi-icon-bianji:before {
  content: "\e615";
}

.vi-icon-shanchu2:before {
  content: "\e674";
}

.vi-icon-miyao:before {
  content: "\e681";
}

.vi-icon-tianjiatupian:before {
  content: "\e7dd";
}

.vi-icon-icon:before {
  content: "\e60b";
}

.vi-icon-fuwuqiguanli:before {
  content: "\e604";
}

.vi-icon-tianjia2:before {
  content: "\e700";
}

.vi-icon-duorenyonghu2:before {
  content: "\e7db";
}

.vi-icon-duorenyonghu:before {
  content: "\e7dc";
}

.vi-icon-ai-img-list:before {
  content: "\e60e";
}

.vi-icon-shuzi0:before {
  content: "\e621";
}

.vi-icon-shanchu:before {
  content: "\e6be";
}

.vi-icon-weibiaoti555:before {
  content: "\e63c";
}

.vi-icon-020tianjia:before {
  content: "\e687";
}

.vi-icon-icon_video:before {
  content: "\e617";
}

.vi-icon-3dtouchzhiboxiangqingliebiao:before {
  content: "\e60d";
}

.vi-icon-cuowu:before {
  content: "\e7bd";
}

.vi-icon-cuowu1:before {
  content: "\e676";
}

.vi-icon-saomiaoerweima:before {
  content: "\e66c";
}

.vi-icon-shanchu1:before {
  content: "\e653";
}

.vi-icon-shujuchaxun:before {
  content: "\e635";
}

.vi-icon-zhuceyonghu:before {
  content: "\e64c";
}

.vi-icon-renzhengyonghu:before {
  content: "\e64d";
}

.vi-icon-zuzhijiagou:before {
  content: "\e618";
}

.vi-icon-cankaowenjian:before {
  content: "\e628";
}

.vi-icon-theme:before {
  content: "\e66f";
}

.vi-icon-video-channel:before {
  content: "\e688";
}

.vi-icon-renwu:before {
  content: "\e8cb";
}

.vi-icon-kehuqunzu:before {
  content: "\e673";
}

.vi-icon-fuwuqi:before {
  content: "\e61a";
}

.vi-icon-icon-p_wuliaozu:before {
  content: "\e607";
}

.vi-icon-suoding:before {
  content: "\e634";
}

.vi-icon-wangluocuowu:before {
  content: "\e62e";
}

.vi-icon-shipin-tianchong:before {
  content: "\e647";
}

.vi-icon-guijitu:before {
  content: "\e61d";
}

.vi-icon-suoding1:before {
  content: "\e600";
}

.vi-icon-mianyizuhua:before {
  content: "\e625";
}

.vi-icon-shipin:before {
  content: "\e759";
}

.vi-icon-xiaoxi:before {
  content: "\e6eb";
}

.vi-icon-lvzhou_gengduo_xiangqing:before {
  content: "\e627";
}

.vi-icon-IPshijiantongji:before {
  content: "\e602";
}

.vi-icon-anfengxiantongji:before {
  content: "\e605";
}

.vi-icon-saomiaobingfenxi:before {
  content: "\e63d";
}

.vi-icon-shijian:before {
  content: "\e61b";
}

.vi-icon-tianjiaxiangmu:before {
  content: "\e60f";
}

.vi-icon-tongjibaobiao:before {
  content: "\e614";
}

.vi-icon-noun__cc:before {
  content: "\e609";
}

.vi-icon-fuwuqi1:before {
  content: "\e665";
}

.vi-icon-xiaoxi1:before {
  content: "\e619";
}

.vi-icon-yunwulifuwuqi:before {
  content: "\e9e7";
}

.vi-icon-xiaoxi-kong:before {
  content: "\e682";
}

.vi-icon-tianjia:before {
  content: "\e63b";
}

.vi-icon-fuwuqi2:before {
  content: "\e65b";
}

.vi-icon-chilunzu:before {
  content: "\e6e0";
}

.vi-icon--zuzhiguanli:before {
  content: "\e724";
}

.vi-icon-shanchu3:before {
  content: "\e632";
}

.vi-icon-quanpingsuoxiao:before {
  content: "\e62f";
}

.vi-icon-quanpingxianshi:before {
  content: "\e630";
}

.vi-icon-tongji:before {
  content: "\e61c";
}

.vi-icon-svg-:before {
  content: "\e622";
}

.vi-icon-svg-1:before {
  content: "\e629";
}

.vi-icon-svg-2:before {
  content: "\e631";
}

.vi-icon-yonghuguanli:before {
  content: "\e633";
}

.vi-icon-yuanshichaxun:before {
  content: "\e636";
}

.vi-icon-wenjianjia:before {
  content: "\e61e";
}

.vi-icon-yonghuxinxi:before {
  content: "\e601";
}

.vi-icon-huabanfuben:before {
  content: "\e696";
}

.vi-icon-bianji-tianchong:before {
  content: "\e729";
}

.vi-icon-tupian-tianchong:before {
  content: "\e737";
}

.vi-icon-saomiao:before {
  content: "\e637";
}

.vi-icon-excel:before {
  content: "\e63e";
}

.vi-icon-word:before {
  content: "\e640";
}

.vi-icon-yonghufugai:before {
  content: "\e608";
}

