// 声明公共的sass方法
// @use '../common/config' as *; // as *表示不需要该文件的命名空间,将所有内容导入
// @forward '../common/config'; // 将上述文件的内容变量变成全局，任何文件都可以使用
@use '../common/var.scss' as *;
@mixin m($modifier) {
    @at-root {
        #{& + $modifier-separator + $modifier} {
            @content;
        }
    }
}

@mixin button-type($color, $background-color, $border-color) {
    color: $color;
    background: $background-color;
    border-color: $border-color;
}

@mixin button-round-style($size, $percent) {
    width: $size;
    height: $size;
    i {
        font-size: $size * $percent;
    }
}

@mixin button-triangle-style($size, $percent) {
    width: $size;
    height: $size;
    i {
        font-size: $size * $percent;
    }
}

@mixin merge-style($color) {
    color: $color;
    i {
        color: $color;
    }
}